<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.e.app_namebattler">

    <application
        android:name=".CharacterData"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".BattleResultActivity"></activity>
        <activity android:name=".StrategyChangeActivity" />
        <activity android:name=".BattleMainActivity" />
        <activity android:name=".CharacterCreatedActivity" />
        <activity android:name=".CharacterCreationActivity" />
        <activity android:name=".CharacterDetailActivity" />
        <activity
            android:name=".BattleStartActivity"
            android:label="@string/title_activity_battle_start"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".PartyOrganizationActivity" />
        <activity android:name=".CharacterListActivity" />
        <activity android:name=".TopScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>